@{
    Layout = null;
}

@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Content Security Policy Management</title>
        <!-- Shell -->
        @ClientResources.RenderResources("ShellCore")

        <!-- LightTheme -->
        @ClientResources.RenderResources("ShellCoreLightTheme")

        <style type="text/css">
            
        </style>
    </head>

    <body>

        @Html.Raw(Html.CreatePlatformNavigationMenu())
        <div @Html.ApplyPlatformNavigation()>
            <div class="container">
                <h1>Media report</h1>
                <div id="media-report-root"></div>
            </div>
        </div>

        <script type="module" crossorigin src="~/js/index.js"></script>
        @ClientResources.RenderResources("media-report", new[] { ClientResourceType.Script }))
    </body>

</html>
